@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

/* MironC reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

#content {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}