@import "./main.less";

.shot {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 33.3%;
  float: left;
  list-style: none;
  overflow: hidden;

  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  -moz-transform: translateZ(0) translate3D(0, 0, 0);
  -ms-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);

  figure {
    margin: 0;
    padding: 0;
  }
  .shot-overlay {
    .transition();

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade(@dribbble-pink-color, 90%);
    transform: translate3D(0, 0, 0) translateY(100%);
    visibility: hidden;
  }
  .shot-detail {
    .transition(@timing: .2s, @delay: .1s);

    padding: 1em 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 5%;
    transform: translate3D(0, 0, 0) translate(-50%, 100%);
    opacity: 0;

    a {
      font-size: 22px;
      margin-bottom: .5em;
      text-transform: uppercase;
      letter-spacing: -.01em;
      font-weight: 700;
      display: block;
      color: white;
      text-decoration: none;
    }

    p {
      font-size: 12px;
      font-weight: 300;
    }
  }

  img {
    .transition();

    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
  }

  &:hover {
    .shot-overlay {
      visibility: visible;
      transform: translate3D(0, 0, 0) translateY(0);
    }
    .shot-detail {
      opacity: 1;
      transform: translate3D(0, 0, 0) translate(-50%, -50%);
    }
    img {
      transform: scale(1.05);
    }
  }
}

@media all and (max-width: 1000px) {
  .shot {
    width: 50%;
  }
}
@media all and (max-width: 500px) {
  .shot {
    width: 100%;
    .shot-detail {
    padding: 1em 0;

    a {
        font-size: 24px;
      }
    }
  }
}
@media all and (min-width: 1200px) {
  .shot {
    width: 25%;
    margin: 0;
    padding: 0;
  }
}
